fastapi==0.109.2
uvicorn[standard]==0.27.1
google-cloud-firestore==2.14.0
google-cloud-pubsub==2.19.4
google-generativeai==0.3.2
firebase-admin==6.4.0
pydantic==2.6.1
scikit-learn==1.4.0 # For DBSCAN geo clustering
numpy==1.26.4
pygeohash
